/* Setting up the initial attributes for the body */
body {
   font-family: sans-serif;
   margin: 0;
   background-color: #f0f0f0;
}

/* setting attributes for the main container */
.main {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}


/* setting attributes for the header container that holds the title and the dropdown*/
.header {
   text-align: center;
   padding: 20px 0;
   background-color: #4CAF50;
   color: white;
}

.header h1 {
   margin: 0;
}

/* setting attributes for the div container that holds the images*/
.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   padding: 20px;
}

/* setting attributes for each image fo fit properly */
.gallery img {
   max-width: 100%;
   max-height: 200px;
   object-fit: cover;
}
